.seguridad {
  background-color: var(--primary);
  padding: 20rem 0;
  position: relative;
  margin-top: 10rem 0;
  overflow: hidden;
}

.seguridad::before,
.seguridad::after {
  background-color: var(--blanco);
  content: "";
  height: 20rem;
  width: 120%;
  position: absolute;
}

.seguridad::after {
  top: -10rem;
  left: 0;
  transform: rotate(3deg);
}
.seguridad::before {
  bottom: -10rem;
  left: 0;
  transform: rotate(-3deg);
}

.seguridad__heading {
  color: var(--fourid);
}

@media (min-width: 768px) {
  .seguridad__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    align-items: center;
  }
}
